:root {
  --primary-color: #283e51;
  --accent-color: #17ac9d;
  --gray-color: #f5f5f5;
  font-size: 16px;
  color: var(--primary-color);
}

@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@800&display=swap");
/* font-family: 'Wix Madefor Display', sans-serif; */

@font-face {
  font-family: "Rockness-Regular";
  src: url("fonts/Rockness.woff");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("fonts/Gilroy-Bold.woff");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("fonts/Gilroy-Light.woff");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("fonts/Gilroy-Medium.woff");
}

@font-face {
  font-family: "Butler-Light";
  src: url("fonts/Butler_Light.woff");
}

@font-face {
  font-family: "Grilroy-Semibold";
  src: url("fonts/Gilroy-Semibold.woff");
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Gilroy-Light";
  color: var(--primary-color);
}

body {
  margin: 0;
  width: 100%;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.header {
  margin: 55px 10% 150px 8%;
}

.logo {
  width: 2rem;
  height: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Gilroy-Medium", sans-serif;
  color: var(--primary-color);
  font-size: 20px;
}

.nav__bar {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.nav__links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
}

.nav__link {
  color: var(--primary-color);
  padding: 0 5px 15px 5px;
}

.nav__link:hover {
  /*ovo bi trebalo da  je modifier, ali nisam sigurna da li je potrebno imenovati i praviti novu klasu*/
  border-bottom: 3px solid var(--primary-color);
}

.nav-lng__btn {
  color: var(--primary-color);
  padding: 1.2rem;
  margin-left: 7%;
  border: 1px solid var(--primary-color);
}

.hero__section {
  position: relative;
  margin: 0 17%;
  text-align: center;
  z-index: 1;
}

.hero__section::after {
  position: absolute;
  z-index: -1;
  top: 12rem;
  left: -26rem;
  content: url(images/team_shape_one.png);
}

.hero__header1 {
  margin: 0;
  font-size: 6.25rem;
  color: var(--primary-color);
  font-family: "Butler-Light";
}

.hero__header2 {
  margin-top: 3rem;
  font-size: 6.25rem;
  color: var(--accent-color);
  font-family: "Rockness-Regular", sans-serif;
}

.hero__description {
  font-size: 2rem;
  color: var(--primary-color);
  font-family: "Butler-Light";
}

.box {
  margin-top: 5.75rem;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  padding: 80px 6% 185px 6%;
  border-radius: 24px;
  box-shadow: 0px 0px 50px #67859e26;
  /* margin-bottom: 250px; */
}

.box__img {
  text-align: center;
}

.box__description {
  font-size: 20px;
  font-family: "Gilroy-Light", sans-serif;
  color: var(--primary-color);
  opacity: 0.8;
  /* margin-bottom: 180px; */
}

.info {
  display: flex;
  justify-content: space-between;
  margin: -135px 10% 100px 10%;
}

.info__box {
  background-color: var(--gray-color);
  width: 405px;
}

.info__header {
  text-align: center;
  font-family: "Butler-Light";
  color: var(--accent-color);
  font-size: 40px;
  margin-top: 70px;
}

.info__p {
  text-align: center;
  font-family: "Gilroy-Light";
  font-size: 23px;
  margin-bottom: 50px;
}

.banner {
  width: 100%;
  display: flex;
}

.banner__vision,
.banner__objectives,
.banner__mission {
  width: 33.33%;
  padding: 100px 0 80px 0;
  text-align: center;
}

.banner__vision {
  background-color: var(--primary-color);
}

.banner__objectives {
  background-color: var(--accent-color);
}

.banner__mission {
  background-color: var(--gray-color);
}

.banner__mission.banner__header {
  color: var(--accent-color);
}

.banner__header {
  font-family: "Rockness-Regular";
  font-weight: normal;
  font-size: 94px;
}

.banner__p {
  font-family: "Gilroy-Light";
  font-weight: normal;
  font-size: 20px;
  margin: auto;
  width: 50%;
}

.clients {
  margin: 100px 20%;
}

.clients__header {
  font-weight: normal;
  font-size: 72px;
}

.clients__p {
  font-size: 22px;
  margin-bottom: 30pxs;
}

.clients__row {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
}

.scroll {
  position: relative;
  width: 50%;
  border-bottom: 2px solid var(--primary-color);
  margin: auto;
}

.scroll::before {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  content: "";
  width: 220px;
  height: 8px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

footer {
  margin-top: 50px;
  background-color: var(--primary-color);
  color: var(--gray-color);
}

.footer__intro {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 26px;
}

.footer__div {
  display: flex;
  /* margin: auto; */
  flex-direction: column;
  align-items: center;
}

.contact__form {
  position: relative;
  margin-bottom: 75px;
}

.contact__form p {
  font-family: "Grilroy-Semibold";
  font-size: 45px;
}

.contact__form::before {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  content: "";
  background-color: var(--accent-color);
  width: 250px;
  height: 3px;
  z-index: 0;
}

.our__location {
  display: flex;
  padding: 75px 0;
  width: 60%;
  background-image: url(images/footer-worldmap.png);
  background-position: center;
  flex-direction: column;
  align-items: center;
}

.white__box {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--gray-color);
  color: var(--primary-color);
}

.white__box::before {
  content: "";
  position: absolute;
  top: 100%;
  transform: translateX(50%);
  right: 50%;
  width: 0;
  height: 0;
  border: 15px solid;
  border-top-color: var(--gray-color);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.white__box p {
  margin-left: 10px;
}

.point {
  width: 15px;
  height: 15px;
  background: var(--accent-color);
  border-radius: 50%;
  margin-bottom: 155px;
  border: 3px #ac17174a solid;
}

.social__media {
  margin-bottom: 100px;
}

.social__media p {
  margin-bottom: 20px;
}

/* Reusable classes */

.text-gray {
  color: var(--gray-color);
}

.font-butlerLight {
  font-family: "Butler-Light";
}

.text-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.down-line {
  border-bottom: 1px solid var(--gray-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-80 {
  opacity: 0.8;
}
