:root {
  --primary-color: #283e51;
  --accent-color: #17ac9d;
  --gray-color: #f5f5f5;
  font-size: 16px;
  color: var(--primary-color);
}

@font-face {
  font-family: "Rockness-Regular";
  src: url("fonts/Rockness.woff");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("fonts/Gilroy-Bold.woff");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("fonts/Gilroy-Light.woff");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("fonts/Gilroy-Medium.woff");
}

@font-face {
  font-family: "Butler-Light";
  src: url("fonts/Butler_Light.woff");
}

@font-face {
  font-family: "Grilroy-Semibold";
  src: url("fonts/Gilroy-Semibold.woff");
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Gilroy-Light";
  color: var(--primary-color);
}

body {
  margin: 0;
  width: 100%;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  margin-left: 9.3rem;
  margin-right: 9.3rem;
}

.header {
  /* da li za margine ove da pravim container koji cu da dodajem ili\?? */
  margin-top: 3.4rem;
  margin-bottom: 9.5rem;
}

.logo {
  width: 2rem;
  height: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Gilroy-Medium", sans-serif;
  color: var(--primary-color);
  font-size: 1.25rem;
}

.nav__bar {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.burger-menu {
  display: none;
}

.nav__links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
}

.nav__link {
  color: var(--primary-color);
  padding: 0 5px 15px 5px;
}

.nav__link:hover {
  /*ovo bi trebalo da  je modifier, ali nisam sigurna da li je potrebno imenovati i praviti novu klasu*/
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 12px;
}

.nav-lng__btn {
  color: var(--primary-color);
  width: 45px;
  height: 38px;
  text-align: center;
  margin-left: 8rem;
  border: 1px solid var(--primary-color);
}

main {
  overflow: hidden;
}

.hero__section {
  position: relative;
  padding: 0 16rem;
  text-align: center;
  z-index: 1;
}

.hero__section::after {
  position: absolute;
  z-index: -1;
  top: 12rem;
  left: -19rem;
  content: url(images/team_shape_one.png);
}

.hero__header1 {
  margin: 0;
  font-size: 6.25rem;
  color: var(--primary-color);
  font-family: "Butler-Light";
}

.hero__header2 {
  margin-top: 3rem;
  font-size: 6.25rem;
  color: var(--accent-color);
  font-family: "Rockness-Regular", sans-serif;
}

.hero__description {
  font-size: 2rem;
  color: var(--primary-color);
  font-family: "Butler-Light";
}

.box {
  position: relative;
  z-index: 1;
  margin-top: 5.75rem;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  padding: 3.5rem 6.2rem 11.5rem 6.2rem;
  border-radius: 24px;
  box-shadow: 0px 0px 50px #67859e26;
}

.box::after {
  position: absolute;
  content: url(images/triangle-shape.png);
  z-index: -1;
  top: 28rem;
  right: -29rem;
}

.box__img {
  text-align: center;
}

.box__description {
  font-size: 1.25rem;
  font-family: "Gilroy-Light", sans-serif;
  color: var(--primary-color);
  opacity: 0.8;
}

.info {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 3.2rem;
  justify-content: center;
  margin: -8.5rem auto 6rem auto;
}

.info__box {
  background-color: var(--gray-color);
  width: 25rem;
}

.info__header {
  text-align: center;
  font-family: "Butler-Light";
  color: var(--accent-color);
  font-size: 2.5rem;
  margin-top: 4.3rem;
}

.info__p {
  text-align: center;
  font-family: "Gilroy-Light";
  font-size: 23px;
  margin-bottom: 3rem;
}

.banner {
  width: 100%;
  display: flex;
  margin-bottom: 8rem;
}

.banner__container {
  padding-top: 6.25rem;
  padding-bottom: 5rem;
  /* padding: 6.25rem 0 5rem 0; */
  width: 33.33%;
  text-align: center;
}

.banner__mission.banner__header {
  color: var(--accent-color);
}

.banner__header {
  font-family: "Rockness-Regular";
  font-weight: normal;
  font-size: 5.8rem;
}

.banner__p {
  padding: 0 7rem;
  font-family: "Gilroy-Light";
  font-weight: normal;
  font-size: 1.25rem;
}

/* .clients {
} */

.clients__header {
  font-weight: normal;
  font-size: 4.5rem;
}

.clients__p {
  font-size: 22px;
  margin-bottom: 1.85rem;
}

.clients__row {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 30px;
}

.scroll {
  position: relative;
  width: 50%;
  border-bottom: 2px solid var(--primary-color);
  margin: auto;
}

.scroll::before {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  content: "";
  width: 33.3%;
  height: 0.5rem;
  border-radius: 5px;
  background-color: var(--primary-color);
}

footer {
  margin-top: 3.2rem;
  background-color: var(--primary-color);
  color: var(--gray-color);
}

.footer__intro {
  margin-top: 3.1rem;
  margin-bottom: 2.5rem;
  font-size: 26px;
}

.footer__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__form {
  position: relative;
  margin-bottom: 4.5rem;
}

.contact__form p {
  position: relative;
  z-index: 3;
  font-family: "Grilroy-Semibold";
  font-size: 2.8rem;
}

.contact__form::before {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  content: "";
  background-color: var(--accent-color);
  width: 15.5rem;
  height: 3px;
  z-index: 0;
}
.contact__form::after {
  position: absolute;
  content: url(images/arrow.svg);
  top: 11.5px;
  right: -46px;
}

.our__location {
  display: flex;
  padding: 4.6rem 0;
  width: 100%;
  background-image: url(images/footer-worldmap.png);
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
}

.white__box {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--gray-color);
  color: var(--primary-color);
}

.white__box::before {
  content: "";
  position: absolute;
  top: 100%;
  transform: translateX(50%);
  right: 50%;
  width: 0;
  height: 0;
  border: 15px solid;
  border-top-color: var(--gray-color);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.white__box p {
  margin-left: 0.65rem;
}

.point {
  width: 1rem;
  height: 1rem;
  background: var(--accent-color);
  border-radius: 50%;
  margin-bottom: 9.5rem;
  border: 3px #ac17174a solid;
}

.social__media {
  margin-bottom: 6.25rem;
}

.social-media-icons__grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  column-gap: 0.75rem;
}

.social__media p {
  margin-bottom: 1.25rem;
}

/* Reusable classes */

.text-gray {
  color: var(--gray-color);
}

.text-accent {
  color: var(--accent-color);
}

.bg-gray {
  background-color: var(--gray-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.font-butlerLight {
  font-family: "Butler-Light";
}

.text-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.down-line {
  border-bottom: 1px solid var(--gray-color);
  padding-bottom: 0.65rem;
  margin-bottom: 0.65rem;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-80 {
  opacity: 0.8;
}

@media only screen and (max-width: 1400px) {
  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .hero__section {
    padding: 0 10rem;
  }

  .nav-lng__btn {
    margin-left: 5rem;
  }

  .box {
    width: 1000px;
  }

  .banner__p {
    padding: 0 3.5rem;
  }

  .clients__row {
    column-gap: 1rem;
  }

  .clients__row > img {
    width: 13rem;
    /* aspect-ratio: 1; */
  }

  .info__box {
    width: 23rem;
  }
}

@media only screen and (max-width: 1200px) {
  :root {
    font-size: 14px;
  }

  .container {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }
  .nav__link {
    justify-content: space-between;
  }

  .nav-lng__btn {
    margin-left: 4rem;
  }

  .box {
    width: 900px;
    padding: 3rem 4.5rem 11rem 4.5rem;
  }

  .box::after {
    display: none;
  }

  .info {
    column-gap: 2rem;
  }

  .info__box {
    width: 21rem;
    padding: 0 0.5rem;
  }

  .info__header {
    font-size: 2rem;
  }

  .info__p {
    font-size: 20px;
  }

  .banner__container {
    padding-top: 4.25rem;
    padding-bottom: 4rem;
  }

  footer {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .box {
    width: 90%;
  }
}

@media only screen and (max-width: 992px) {
  .nav__bar {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .box__img > img {
    width: 92%;
  }

  .info {
    margin: -6.5rem auto 6rem auto;
  }

  .info__box {
    width: 18rem;
  }

  .info__header {
    font-size: 1.5rem;
  }

  .info__p {
    font-size: 1.1rem;
  }

  .banner__header {
    font-size: 4rem;
  }

  .banner__p {
    font-size: 1rem;
    padding: 0 2rem;
  }

  .clients__row > img {
    width: 9.8rem;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    font-size: 13px;
  }

  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .header {
    margin-top: 2rem;
    margin-bottom: 9rem;
  }

  .hero__section {
    padding: 0 3rem;
  }

  .hero__header2 {
    margin: 0;
  }

  .box {
    width: 95%;
    padding: 3rem 2.3rem 10rem 2.3rem;
  }

  .box__description {
    font-size: 14px;
  }

  .info__box {
    width: 13rem;
  }

  .info__header {
    margin-top: 2.3rem;
    font-size: 1.3rem;
  }

  .info__p {
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  .banner__p {
    padding: 0 0.4rem;
  }

  .clients__row > img {
    width: 8.5rem;
  }

  .clients__row {
    column-gap: 0;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .header {
    margin-top: 1rem;
    margin-bottom: 12rem;
  }

  .hero__section {
    padding: 0 3rem;
  }

  .hero__header2 {
    margin: 0;
  }

  .box {
    width: 97%;
    padding: 3rem 2.3rem 10rem 2.3rem;
  }

  .banner {
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .banner__container {
    width: 100%;
  }

  .clients__p {
    font-size: 20px;
  }

  .clients__header {
    font-size: 3.5rem;
  }

  .clients__row > img {
    width: 7.7rem;
  }
}

@media only screen and (mix-width: 320px) {
}
